In [303]:
import pandas as pd
import numpy as np

In [304]:
df1=pd.read_csv('food_data.csv', encoding= 'unicode_escape')

In [305]:
df1.head()

                                             product      use by
0   Tata Sampann Unpolished Toor Dal/ Arhar Dal, 1kg   11/9/2023
1                            Daawat Rozana Super,5kg  12/16/2024
2  Kissan Mixed Fruit Jam , With Real Fruit Ingre...  11/30/2023
3               Sundrop Peanut Butter, Crunchy, 924g   7/31/2022
4  Kellogg's Muesli 21% Fruit, Nut & Seeds 750g |...    9/8/2023

In [306]:
import datetime

In [307]:
today = datetime.date.today()

In [308]:
today

datetime.date(2023, 1, 18)

In [309]:
ts=pd.Timestamp(today)

In [310]:
ts

Timestamp('2023-01-18 00:00:00')

In [311]:
df1['use by'] = pd.to_datetime(df1['use by'], errors='coerce')

In [312]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   product  39 non-null     object
 1   use by   39 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 752.0+ bytes

In [313]:
ind=df1['use by'].index

In [314]:
ind

RangeIndex(start=0, stop=39, step=1)

In [315]:
#df1['use by'] = df1['use by'].dt.strftime('%d/%m/%Y')

In [316]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   product  39 non-null     object
 1   use by   39 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 752.0+ bytes

In [317]:
df1.head()

                                             product     use by
0   Tata Sampann Unpolished Toor Dal/ Arhar Dal, 1kg 2023-11-09
1                            Daawat Rozana Super,5kg 2024-12-16
2  Kissan Mixed Fruit Jam , With Real Fruit Ingre... 2023-11-30
3               Sundrop Peanut Butter, Crunchy, 924g 2022-07-31
4  Kellogg's Muesli 21% Fruit, Nut & Seeds 750g |... 2023-09-08

In [318]:
l=[]
for x in df1['use by']:
    l.append((x-ts))

In [319]:
l

[Timedelta('295 days 00:00:00'),
 Timedelta('698 days 00:00:00'),
 Timedelta('316 days 00:00:00'),
 Timedelta('-171 days +00:00:00'),
 Timedelta('233 days 00:00:00'),
 Timedelta('246 days 00:00:00'),
 Timedelta('190 days 00:00:00'),
 Timedelta('127 days 00:00:00'),
 Timedelta('236 days 00:00:00'),
 Timedelta('162 days 00:00:00'),
 Timedelta('221 days 00:00:00'),
 Timedelta('27 days 00:00:00'),
 Timedelta('136 days 00:00:00'),
 Timedelta('227 days 00:00:00'),
 Timedelta('182 days 00:00:00'),
 Timedelta('224 days 00:00:00'),
 Timedelta('226 days 00:00:00'),
 Timedelta('109 days 00:00:00'),
 Timedelta('138 days 00:00:00'),
 Timedelta('167 days 00:00:00'),
 Timedelta('57 days 00:00:00'),
 Timedelta('131 days 00:00:00'),
 Timedelta('143 days 00:00:00'),
 Timedelta('113 days 00:00:00'),
 Timedelta('148 days 00:00:00'),
 Timedelta('79 days 00:00:00'),
 Timedelta('281 days 00:00:00'),
 Timedelta('246 days 00:00:00'),
 Timedelta('42 days 00:00:00'),
 Timedelta('83 days 00:00:00'),
 Timedelta('38 days 00:00:00'),
 Timedelta('52 days 00:00:00'),
 Timedelta('105 days 00:00:00'),
 Timedelta('131 days 00:00:00'),
 Timedelta('113 days 00:00:00'),
 Timedelta('131 days 00:00:00'),
 Timedelta('146 days 00:00:00'),
 Timedelta('162 days 00:00:00'),
 Timedelta('54 days 00:00:00')]

In [320]:
z=pd.Series(l)

In [321]:
z

0     295 days
1     698 days
2     316 days
3    -171 days
4     233 days
5     246 days
6     190 days
7     127 days
8     236 days
9     162 days
10    221 days
11     27 days
12    136 days
13    227 days
14    182 days
15    224 days
16    226 days
17    109 days
18    138 days
19    167 days
20     57 days
21    131 days
22    143 days
23    113 days
24    148 days
25     79 days
26    281 days
27    246 days
28     42 days
29     83 days
30     38 days
31     52 days
32    105 days
33    131 days
34    113 days
35    131 days
36    146 days
37    162 days
38     54 days
dtype: timedelta64[ns]

In [322]:
df1['diff']=z

In [323]:
df1.head()

                                             product     use by      diff
0   Tata Sampann Unpolished Toor Dal/ Arhar Dal, 1kg 2023-11-09  295 days
1                            Daawat Rozana Super,5kg 2024-12-16  698 days
2  Kissan Mixed Fruit Jam , With Real Fruit Ingre... 2023-11-30  316 days
3               Sundrop Peanut Butter, Crunchy, 924g 2022-07-31 -171 days
4  Kellogg's Muesli 21% Fruit, Nut & Seeds 750g |... 2023-09-08  233 days

In [324]:
df1=df1.sort_values(by='diff',ascending=True)

In [325]:
df1.head()

                                            product     use by      diff
3              Sundrop Peanut Butter, Crunchy, 924g 2022-07-31 -171 days
11  Yakult Probiotic Health Drink Bottle, 5 X 65 ml 2023-02-14   27 days
30               Kwality Wall's Fruit & Nut, 700 ml 2023-02-25   38 days
28  Kwality Wall's Crème Delights Mango Tub, 700 ml 2023-03-01   42 days
31        Kwality Wall's Cadbury Crackle Tub, 700ml 2023-03-11   52 days