In [73]:
# 19.125076600000014, 72.83273467301058

**Current coordinates**

In [74]:
import requests

In [75]:
res=requests.get('https://ipinfo.io')

In [76]:
print(res.text)

{
  "ip": "103.183.44.248",
  "city": "Mumbai",
  "region": "Maharashtra",
  "country": "IN",
  "loc": "19.0832,72.8748",
  "org": "AS139560 PATEL INTERNET PRIVATE LIMITED",
  "postal": "400042",
  "timezone": "Asia/Kolkata",
  "readme": "https://ipinfo.io/missingauth"
}

In [77]:
dt=res.json()

In [78]:
print(dt)

{'ip': '103.183.44.248', 'city': 'Mumbai', 'region': 'Maharashtra', 'country': 'IN', 'loc': '19.0832,72.8748', 'org': 'AS139560 PATEL INTERNET PRIVATE LIMITED', 'postal': '400042', 'timezone': 'Asia/Kolkata', 'readme': 'https://ipinfo.io/missingauth'}

In [79]:
print(dt['loc'])

19.0832,72.8748

In [80]:
loc=dt['loc'].split(',')

In [81]:
lat=loc[0]
long=loc[1]

In [82]:
type(lat)

str

In [83]:
lat=float(lat)

In [84]:
type(lat)

float

In [85]:
long=float(long)

In [86]:
import pandas as pd
import numpy as np

In [87]:
df=pd.read_csv('ngo.csv')

In [88]:
df.head()

,ngo,address,latitude,longitude
0,Gurudev Poor public Food Donation Versova,"Gurdwara 30-B, JP Rd, next to 7 Bunglow, oppos...",19.132493,72.813449
1,"Smile Foundation, Mumbai","Building, 101, First Floor, Gladiola, Hanuman ...",19.106360,72.848281
2,Street dog food donations,"Prabhat Colony, Santacruz East, Mumbai, Mahara...",19.086847,72.843095
3,United Way India,"Sun Vision Spenta, 3rd Road, West, Khar West, ...",19.071352,72.839747
4,The Little Shine Foundation,"Building No. 144, Gr. Floor National Library R...",19.057316,72.838460

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ngo        6 non-null      object
 1   address    6 non-null      object
 2   latitude   6 non-null      float64
 3   longitude  6 non-null      float64
dtypes: float64(2), object(2)
memory usage: 320.0+ bytes

In [90]:
diff_latitude=[]
for x in df['latitude'] :
    diff_latitude.append(abs(x-lat))

In [91]:
diff_longitude=[]
for x in df['longitude'] :
    diff_longitude.append(abs(x-long))

In [93]:
latitude_difference=pd.Series(diff_latitude)
longitude_difference=pd.Series(diff_longitude)

In [102]:
df1=df.copy()

In [103]:
df1.head()

,ngo,address,latitude,longitude
0,Gurudev Poor public Food Donation Versova,"Gurdwara 30-B, JP Rd, next to 7 Bunglow, oppos...",19.132493,72.813449
1,"Smile Foundation, Mumbai","Building, 101, First Floor, Gladiola, Hanuman ...",19.106360,72.848281
2,Street dog food donations,"Prabhat Colony, Santacruz East, Mumbai, Mahara...",19.086847,72.843095
3,United Way India,"Sun Vision Spenta, 3rd Road, West, Khar West, ...",19.071352,72.839747
4,The Little Shine Foundation,"Building No. 144, Gr. Floor National Library R...",19.057316,72.838460

In [104]:
df1=pd.concat([df1,latitude_difference,longitude_difference],axis=1)

In [107]:
df1.columns=['ngo','address','latitude','longitude','latitudediff','longitudediff']

In [108]:
df1.head()

,ngo,address,latitude,longitude,latitudediff,longitudediff
0,Gurudev Poor public Food Donation Versova,"Gurdwara 30-B, JP Rd, next to 7 Bunglow, oppos...",19.132493,72.813449,0.049293,0.061351
1,"Smile Foundation, Mumbai","Building, 101, First Floor, Gladiola, Hanuman ...",19.106360,72.848281,0.023160,0.026519
2,Street dog food donations,"Prabhat Colony, Santacruz East, Mumbai, Mahara...",19.086847,72.843095,0.003647,0.031705
3,United Way India,"Sun Vision Spenta, 3rd Road, West, Khar West, ...",19.071352,72.839747,0.011848,0.035053
4,The Little Shine Foundation,"Building No. 144, Gr. Floor National Library R...",19.057316,72.838460,0.025884,0.036340

In [109]:
df1=df1.sort_values(by=['latitudediff','longitudediff'],ascending=True)

,ngo,address,latitude,longitude,latitudediff,longitudediff
2,Street dog food donations,"Prabhat Colony, Santacruz East, Mumbai, Mahara...",19.086847,72.843095,0.003647,0.031705
3,United Way India,"Sun Vision Spenta, 3rd Road, West, Khar West, ...",19.071352,72.839747,0.011848,0.035053
1,"Smile Foundation, Mumbai","Building, 101, First Floor, Gladiola, Hanuman ...",19.106360,72.848281,0.023160,0.026519
4,The Little Shine Foundation,"Building No. 144, Gr. Floor National Library R...",19.057316,72.838460,0.025884,0.036340
5,ISKCON food for child,"BHISMA Dept, ISKCON, Hare Krishna Land, Juhu, ...",19.113381,72.826361,0.030181,0.048439
0,Gurudev Poor public Food Donation Versova,"Gurdwara 30-B, JP Rd, next to 7 Bunglow, oppos...",19.132493,72.813449,0.049293,0.061351

In [123]:
df1[['ngo','address']].head()

,ngo,address
0,Gurudev Poor public Food Donation Versova,"Gurdwara 30-B, JP Rd, next to 7 Bunglow, oppos..."
1,"Smile Foundation, Mumbai","Building, 101, First Floor, Gladiola, Hanuman ..."
2,Street dog food donations,"Prabhat Colony, Santacruz East, Mumbai, Mahara..."
3,United Way India,"Sun Vision Spenta, 3rd Road, West, Khar West, ..."
4,The Little Shine Foundation,"Building No. 144, Gr. Floor National Library R..."